.signin-conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 255);
    height: 100vh;
}

.login-card-container{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.login-inputs{
    display: block;   
    padding: 15px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 20px;
    border: 0;
    border: 1px solid gainsboro;
    outline-color: rgb(12, 73, 178);
    transition: all 0.3s ease-in-out;
}

.login-button{
    padding: 15px;
    display: block;
    width: 100%;
    border-radius: 200px;
    font-size: 20px;
    background-color: rgb(12, 73, 178);
    border: 0;
    color: whitesmoke;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.login-button:active{
    transform: scale(0.94);
    text-decoration: none;
}

.login-link{
    text-decoration: none;
}

.login-heading{
    font-size: 32px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(12, 73, 178);
    padding-bottom: 20px;
}